<div class="container">
  <!-- app-cockpit component with event bindings -->
  <!-- serverCreated and bpCreated are custom events from the CockpitComponent -->
  <!-- onServerAdded and onBlueprintAdded are methods in the AppComponent -->

  <!-- When serverCreated event is emitted, onServerAdded is called -->
  <!-- When bpCreated event is emitted, onBlueprintAdded is called -->
  <app-cockpit
    (serverCreated)="onServerAdded($event)"
    (bpCreated)="onBlueprintAdded($event)"
  ></app-cockpit>
  <hr />
  <div class="row">
    <div class="col-xs-12">
      <button class="btn btn-primary" (click)="onChangeFirst()">
        Change first element
      </button>
      <button class="btn btn-danger" (click)="onDestroyFirst()">
        Destroy first element
      </button>
      <!-- Loop through each 'element' in the 'serverElements' array -->
      <!-- 'srvElement' is a property on the app-server-element component -->
      <app-server-element
        *ngFor="let element of serverElements"
        [srvElement]="element"
        [name]="element.name"
      >
        <p #contentP>
          <strong *ngIf="element.type === 'server'" style="color: red">{{
            element.content
          }}</strong>
          <em *ngIf="element.type === 'blueprint'">{{ element.content }}</em>
        </p>
      </app-server-element>
      <app-game-control
        (numIncreased)="onNumIncreased($event)"
      ></app-game-control>
      <div *ngFor="let num of numbers">
        @if(num%2 ===0){
        <app-even> Even - {{ num }} </app-even>
        }@else {
        <app-odd [number]="num"> </app-odd>
        }
      </div>
    </div>
  </div>
</div>
