<label>Server Name</label>
<!-- <input type="text" class="form-control" (input)="onUpdateServerName($event)" /> -->
<input type="text" class="form-control" [(ngModel)]="serverName" />
<button
  class="btn btn-primary"
  [disabled]="!allowNewServer"
  (click)="onCreateServer()"
>
  Add Server
</button>
<!-- <p [innerText]="allowNewServer"></p> -->
<!-- <p>{{ serverName }}</p> -->
<!-- <p *ngIf="serverCreated; else noServer">{{ serverStatus }}</p>
<ng-template #noServer> <p>No server was created</p></ng-template> -->
<!-- angular 17 -->
@if (serverCreated) {
<p>{{ serverStatus }}</p>
} @else {
<p>No server was created</p>
}
<input
  type="text"
  class="form-control"
  [(ngModel)]="userName"
  (input)="setIsEmpty()"
/>
<button class="btn btn-primary" (click)="onCreateUser()" [disabled]="isEmpty">
  Register
</button>
<p>{{ userStatus }}</p>

<!-- <app-server *ngFor="let server of servers"></app-server> -->
<!-- angular 17 -->
@for(server of servers;track server){
<app-server></app-server>
}
