<div style="display: flex; flex-direction: column; align-items: center">
  <button
    type="button"
    class="btn btn-info"
    style="margin: 10px 0"
    (click)="onClick()"
  >
    Display Details
  </button>

  @if(showDetails) {
  <p>Secret Password = 'tuna'</p>
  }
  <!-- <div *ngIf="showDetails">
    <p>Secret Password = 'tuna'</p>
  </div> -->
  @for(click of clicksArray;track click;let i = $index){
  <p
    [ngStyle]="{ backgroundColor: colorStyle(i) }"
    [ngClass]="{ white: i >= 4 }"
  >
    {{ click }}
  </p>
  }
  <!-- <div *ngFor="let click of clicksArray; let i = index">
    <p
      [ngStyle]="{ backgroundColor: colorStyle(i) }"
      [ngClass]="{ white: i >= 4 }"
    >
      {{ click }}
    </p>
  </div> -->
</div>
