.box {
  background-color: palegreen;
  color: white;
  width: 60rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: solid 2px black;
  margin: 0 auto;
}
